
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <div> 
        Đây là trang View mới.(Quân edit)
    </div>
    <div>
        Đây là dòng Nghiên chó sửa
        <h1>Quân</h1>
    </div>

</body>
</html>
